body{background-color: lightblue;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-size: 40px;
    color: black;
    text-align: center;
}
h2{ 
    color: navy;
    text-decoration: underline;
    text-align: center;
}

h3{
    color: darkred
}